/* PHASE 3: Layout */
.content {
  position: relative;
  margin: 0 auto;
  width: 900px;
  min-height: 200px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: red;
}

.content-sidebar {
  float: left;
  width: 200px;
  min-height: 200px;
  padding: 20px;
  background-color: white;
  border:
}

.content-main {
  float: left;
  width: 620px;
  min-height: 200px;
  padding: 20px;
  background-color: gray;
}
